.card-container{
    height: 70vh;
    width: 25%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    opacity: 0.5;
    transition: 0.4s;
    margin-top: 150px;
}

.card-container:hover{
    opacity: 1;
}

.title{
    height: 30%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.description{
    height: 70%;
    background-color: #06112b;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.title h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.description p{
    color: white;
    font-weight: bold;
}