.header-container{
    width: 100%;
    height: 100px;
    background-color: blue;
    position: fixed;
    top: 0;
    opacity: 0.7;
    border-bottom: 3px solid orangered;
    box-shadow: 0 0 10px black;
}

