ul{
    margin-top: 2px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    list-style: none;
}

li{
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
    transition: 0.4s;
}

li:hover{
     background-color: orangered;
     opacity: 1;
   
}

li a{
    color: white;   
    text-decoration: none;
    
}

