.Tcontainer{
    position: absolute;
    top: 200px;
    color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:500px;
}


.Grand{
    font-size:40px;
    text-shadow: 0 0 5px black;
}

.Petit{
    font-size:30px;
    color: #06112b;
    background-color: orangered;
    font-weight: bolder;
    padding-left:10px;
}

#logo{
    width:400px;
    margin-left: 50px;
}
