.text{
     width: 50%;
     height: 100vh;
     margin-left: 20px;
     margin-top: 220px;
     color: white;
}

.text p{
    font-size: 18px;
}

.text h1{
    font-size: 70px;
}

.text h3 {
    background-color: orangered;
    padding: 10px;
}

#desc{
    font-size:40px;
    text-align: justify;
}

#se{
    color:Whitesmoke;
    text-decoration: none;
}