.formulaire{
    height: 60%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

input{
    width:400px;
    height: 50px;
    padding-left: 20px;
}

textarea{
    width:400px;
    height:200px; 
    padding-left: 20px;
    padding-top: 20px;
}

button{
    color: white;
    background-color: blue;
    width:200px;
    height:40px; 
    border-radius: 10px;
}