.formulaire{
    height: 50%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 150px;
    padding-bottom: 10px;
}

input{
    width:400px;
    height: 50px;
    padding-left: 20px;
    border: 2px solid orangered;
}

textarea{
    width:400px;
    height:200px; 
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid orangered;
}

button{
    color: white;
    background-color: blue;
    width:200px;
    height:40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}