.Rcontain{
    height: 26%;
    background-color: rgba(0, 0, 250, 0.932);
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    box-shadow: 0 0 10px black  ;
}

h1{
    margin-top: 30px;
    font-size: 20px;
}